{% extends 'common/base.html' %} {% block content %}

<div class="container mt-5 mb-3">
  {% if messages %}
          <div class="mb-3">
            {% for msg in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {{ msg }}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endfor %}
          </div>
          {% endif %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="text-black-50">Profile</h3>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#editprofileModal"
    >
      ✏️ Edit
    </button>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg border-0 rounded-3">
          <div class="card-body text-center">
            <!-- Profile Picture -->
            {% if profile.profile_picture %}
            <img
              src="{{ profile.profile_picture.url }}"
              alt="Profile Picture"
              class="rounded-circle mb-3 shadow-sm"
              width="150"
              height="150"
              style="object-fit: cover"
            />
            {% else %}
            <img
              src="/static/defaults/profile.png"
              alt="Default Profile Picture"
              class="rounded-circle mb-3 shadow-sm"
              width="150"
              height="150"
              style="object-fit: cover"
            />
            {% endif %}

            <!-- Change Button -->
            <div class="mb-3">
              <a
                class="btn btn-sm btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#editprofilepictureModal"
              >
                Change Profile Photo
              </a>
              <a
                class="btn btn-sm btn-outline-primary"
                href="{% url 'reset-password' %}"
              >
                Change Password
              </a>
            </div>

            <!-- User Name -->
            <h4 class="card-title fw-bold mb-1">
              {{ user.first_name }} {{ user.last_name }}
            </h4>
            <p class="text-muted mb-3">{{ profile.bio }}</p>

            <!-- Profile Details -->
            <ul class="list-group list-group-flush text-start">
              <li class="list-group-item">
                <span class="fw-bold text-dark">Email:</span> {{ user.email }}
              </li>
              <li class="list-group-item">
                <span class="fw-bold text-dark">Phone:</span> {{ user.phone_no}}
              </li>
              <li class="list-group-item">
                <span class="fw-bold text-dark">DOB:</span> {{ profile.dob }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit editprofilepictureModal -->
  <div class="modal fade" id="editprofilepictureModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">
            Upload new profile picture
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            id="add_product_form"
            action="{% url 'edit-profile-picture' user.id %}"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-md-6">
                <label for="street" class="form-label">Select Image : </label>
                <input
                  type="file"
                  class="form-control"
                  id="profile_picture"
                  name="profile_picture"
                />
              </div>
            </div>

            <div class="modal-footer mt-3">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit profile modal -->
  <div class="modal fade" id="editprofileModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">
            Edit Profile
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            id="add_product_form"
            action="{% url 'edit-profile' user.id %}"
            method="post"
          >
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-md-6">
                <label for="first_name" class="form-label">First Name </label>
                <input
                  type="text"
                  class="form-control"
                  id="first_name"
                  name="first_name"
                  value="{{user.first_name}}"
                />
              </div>
              <div class="col-md-6">
                <label for="last_name" class="form-label">Last Name </label>
                <input
                  type="text"
                  class="form-control"
                  id="last_name"
                  name="last_name"
                  value="{{user.last_name}}"
                />
              </div>
            </div>
            <!-- <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="{{user.email}}"
              />
            </div> -->

            <div class="col-md-6">
              <label for="phone_no" class="form-label">Mobile Number : </label>
              <input
                type="tel"
                class="form-control"
                id="phone_no"
                name="phone_no"
                value="{{user.phone_no}}"
                pattern="^[6-9]{1}[0-9]{9}"
              />
            </div>
            <div class="col-md-6">
              <label for="bio" class="form-label">Bio</label>
              <input
                type="text"
                class="form-control"
                id="bio"
                name="bio"
                value="{{profile.bio}}"
              />
            </div>
            <div class="col-md-6">
              <label for="dob" class="form-label">DOB : </label>
              <input
                type="date"
                class="form-control"
                id="dob"
                name="dob"
                value="{{profile.dob}}"
              />
            </div>

            <div class="modal-footer mt-3">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
