{% extends 'common/base.html' %} {% block content %} {% load static %}
<div class="container" style="width: fit-content; height: max-content">
  <div class="carousel-item">
    <img
      src="https://img.freepik.com/premium-photo/shopping-cart-illustration-ecommerce-business-concept-background-generative-ai_803320-11242.jpg?w=2000"
      alt="Home Image "
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Hyy</h5>
      <p>This is the boostrap carousel</p>
    </div>
  </div>
</div>

{% endblock %}
